# git+https://github.com/golemfactory/task-api@master#egg=golem_task_api&subdirectory=python
# I dunno why --extra-index-url is needed since, since it's present in the golem_blender_app
# but it doesn't work without it
--extra-index-url https://builds.golem.network
golem_task_api==0.24.6
