# I dunno why --extra-index-url is needed since, since it's present in the golem_blender_app
# but it doesn't work without it
--extra-index-url https://builds.golem.network
# git+https://github.com/golemfactory/task-api@789d221e77371ec93694099fd5ab3a243594c6ce#subdirectory=python
-e image/golem_blender_app

docker==3.7.0
pytest==3.6.3
pytest-asyncio==0.10.0
async-generator==1.10
